# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.docker

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Virtual environment
venv
ENV

# IDE
.idea
.vscode

# Local development
.env
.env.local 